language: cpp
compiler:
  - gcc-4.8
  - clang
sudo: false
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
install:
  - if [ "$CXX" = "g++" ]; then
       export CXX="g++-4.8";
    fi
  - $CXX --version
  - make
script:
  - make test

notifications:
  emails:
    - c89-compiler@kmc.gr.jp
  on_success: change
  on_failure: always
